.cart tr > td{
line-height: 5;}

.cart .payment{
border: 1px solid var(--Dark-Jungle-Green);
}
.cart .reset {
    /* display: block; */
    height: 50px;
}
.cart .payment-btn{
    background-color: var(--Dark-Jungle-Green);
    color:var(--white);
    display: block;
    width: 100%;
}

.cart .payment-btn:is(:hover,:focus){
   
    box-shadow: none;
}

@media(max-width:768px){
    .cart .reset-payment{
        flex-direction: column;
    }
}

.cart .remove {
    
        color: red;
        cursor: pointer;
   
}