.searchdiv .form-control:focus{
    box-shadow: none }

  .featuredProducts{
    position: relative;
  }  

  .controls{
  
    position: absolute;
    left: 50%;
    transform: translate(-50%,20px) ;
    bottom: -20px;
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 10;

  }

  .controls > button {
    all:unset;
    width: 80px;
    height: 40px;
    background-color: var(--main-color);
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: .5s;
    cursor: pointer;
  }

  .controls > button:disabled {
     opacity: .5;
  }