

  .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 10;
    margin: 50px auto;
  }


  .controls > button:disabled {
     opacity: .5;
  }

  button:is(:hover, :focus),.searchdiv .form-control:is(:hover, :focus){
    box-shadow: none;
  }