.footer{
    background-color: var(--pastle-grey);
    color: var(--black);
}

.footer .footer-buttom{
    background-color: var(--Dark-Jungle-Green);
    color: var(--white);
    display: flex;
    align-items: center;

}

.footer a{
    text-decoration: none;
}

.footer .social-icon li a i {
    margin: 0 5px;
   color: black;
}

.footer .footer-widget a:not(.logo){
    color: var(--Dark-Jungle-Green);
    transition: var(  --transition-1);
}

.footer .footer-widget a:not(.logo):hover{
    padding-left: 3px;
}
